version: "3.8"

services:
 web:
   images: devops-nginx:latest
   container_name: web_app
   ports:
    - "8081:80"
   restart: always
   networks:
    - app-net
prometheus:
   image: prom/prometheus
   container_name: prometheus
   ports:
     - "9090:9090"